/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --colorBlue: #3466aa;
    --colorDarkBlue: #114084;
    --colorLightBlue: #92bfdf;
    --colorWhite: #f1f1f1;
    --colorGrey: #808080;
    --colorBlack: #1c1c1c;
    --colorRed: #dc3545;
    --colorGreen: #28a745;
    --fontPrimary: 'Poppins', sans-serif;
    --letterSpacing: 1px;
    --borderRadius: 0.3rem;
    --transition: all 0.15s ease-in-out;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontPrimary);
    line-height: 1.5;
    background-color: var(--colorWhite);
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

/* USER MANAGER */
/* ==================================================================================================== */

@media screen and (max-width: 600px) {
    .container {
        width: 95vw;
    }
    .column-container:nth-child(1) {
        width: 5%;
    }
    .column-container:nth-child(2) {
        width: 15%;
    }
    .column-container:nth-child(3) {
        width: 20%;
    }
    .column-container:nth-child(4) {
        width: 22.5%;
    }
    .column-container:nth-child(5) {
        width: 12.5%;
    }
    .column-container:nth-child(6) {
        width: 15%;
    }
}

@media screen and (min-width: 600px) {
    .container {
        width: 90vw;
    }
    .column-container:nth-child(1) {
        width: 5%;
    }
    .column-container:nth-child(2) {
        width: 20%;
    }
    .column-container:nth-child(3) {
        width: 22.5%;
    }
    .column-container:nth-child(4) {
        width: 27.5%;
    }
    .column-container:nth-child(5) {
        width: 10%;
    }
    .column-container:nth-child(6) {
        width: 15%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 80vw;
    }
}

.title {
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid lightgrey;
    padding: 0.5rem;
    font-weight: 400;
    letter-spacing: 0;
}

.section-center {
    height: calc(100vh - 65px);
    width: 100vw;
    display: grid;
    place-items: center;
}

.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.column-container {
    width: 16.7%;
    overflow: hidden;
    padding: 0.5rem;
}

.users-header {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid lightgrey;
    gap: 1rem;
}

.user {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid lightgrey;
    gap: 1rem;
}

.adduser-btn {
    border: transparent;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: var(--transition);
}

.adduser-btn:hover {
    background-color: var(--colorDarkBlue);
}

.edit-btn,
.delete-btn {
    border: transparent;
    padding: 0.25rem 0.5rem;
    color: var(--colorWhite);
    font-size: 1rem;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: var(--transition);
}

.edit-btn {
    background-color: var(--colorGreen);
}

.edit-btn:hover {
    background-color: rgb(0, 200, 0);
}

.delete-btn {
    background-color: var(--colorRed);
}

.delete-btn:hover {
    background-color: rgb(255, 0, 0);
}

/* FORM MODAL */
/* ==================================================================================================== */

.open-modal {
    display: grid !important;
}

.modal {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    place-items: center;
    backdrop-filter: blur(10px);
}

.form {
    background-color: var(--colorWhite);
    width: 80vw;
    max-width: 500px;
    position: relative;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
}

.form-header h4 {
    font-weight: 400;
    letter-spacing: 0;
}

.close-btn {
    background-color: transparent;
    border: transparent;
    font-size: 2rem;
    color: rgb(90, 90, 90);
    cursor: pointer;
    transition: var(--transition);
}

.close-btn:hover {
    color: var(--colorBlack);
}

.form-control {
    padding: 1rem;
    display: grid;
    position: relative;
}

.form-control input::placeholder {
    font-size: 0.875rem;
    font-family: 'Poppins', 'FontAwesome';
    color: var(--colorGrey);
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control input {
    color: black;
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 1px solid lightgrey;
    border-radius: var(--borderRadius);
}

.form-control input:focus {
    outline: 3px solid var(--colorLightBlue);
}

.form-btn-container {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

.form-btn-container button {
    font-size: 1rem;
    text-transform: capitalize;
    border: transparent;
    padding: 0.5rem 0.75rem;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: var(--transition);
}

.form-close-btn {
    background-color: var(--colorGrey);
    color: var(--colorWhite);
}

.form-close-btn:hover {
    background-color: rgb(90, 90, 90);
}

.form-add-btn {
    background-color: rgb(38, 134, 212);
    color: var(--colorWhite);
}

.form-add-btn:hover {
    background-color: var(--colorBlue);
}

.show-alert {
    display: unset !important;
}

.alert {
    display: none;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: var(--colorRed);
}

/* END */
/* ==================================================================================================== */
