/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

:root {
    --colorLightBrown: #cab19b;
    --colorMediumBrown: #896b60;
    --colorDarkBrown: #4a332d;
    --colorVeryDarkBrown: #362621;
    --colorOrange: #9f5e11;
    --shadowLight: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadowDark: 0 5px 15px rgba(0, 0, 0, 0.2);
    --fontPrimary: 'Poppins', sans-serif;
    --fontSecondary: 'Rye', cursive;
    --letterSpacing: 1px;
    --borderRadius: 0.25rem;
    --transition: all 0.15s ease-in-out;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontPrimary);
    line-height: 1.5;
    background-color: var(--colorWhite);
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

/* END */
/* ==================================================================================================== */
