/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

:root {
    --colorLightBrown: #cab19b;
    --colorMediumBrown: #896b60;
    --colorBrown: #6c4a3f;
    --colorDarkBrown: #4a332d;
    --colorVeryDarkBrown: #362621;
    --colorOrange: #9f5e11;
    --shadowLight: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadowDark: 0 5px 15px rgba(0, 0, 0, 0.2);
    --fontPrimary: 'Poppins', sans-serif;
    --fontSecondary: 'Rye', cursive;
    --letterSpacing: 1px;
    --borderRadius: 0.25rem;
    --transition: all 0.15s ease-in-out;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontPrimary);
    line-height: 1.5;
    background-color: white;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1000px;
}

/* NAVBAR */
/* ==================================================================================================== */

.nav {
    position: fixed;
    height: 6rem;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--colorLightBrown);
    border-bottom: 4px solid var(--colorVeryDarkBrown);
    z-index: 1;
}

.nav-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links {
    display: none;
}

.sidebar-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}

.sidebar-btn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    margin-right: 0.2rem;
    color: var(--colorVeryDarkBrown);
    cursor: pointer;
    transition: var(--transition);
}

.cart-btn-container {
    position: relative;
}

.cart-btn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--colorVeryDarkBrown);
    cursor: pointer;
    transition: var(--transition);
}

.cart-item-count {
    position: absolute;
    top: -0.85rem;
    right: -0.85rem;
    background: var(--colorOrange);
    width: 1.75rem;
    height: 1.75rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.button-divider {
    height: 2.4rem;
    width: 0.45rem;
    background-color: var(--colorOrange);
    border-radius: 10rem;
}

.logo {
    font-family: var(--fontSecondary);
    font-size: 2.5rem;
    color: var(--colorVeryDarkBrown);
    font-weight: 600;
}

.nav-link {
    text-transform: uppercase;
    color: var(--colorVeryDarkBrown);
    cursor: pointer;
}

.menu-link,
.about-link,
.location-link,
.booking-link {
    border-bottom: 2px solid var(--colorDarkBrown);
}

@media screen and (min-width: 800px) {
    .sidebar-btn,
    .button-divider {
        display: none;
    }

    .cart-btn {
        font-size: 1.7rem;
    }
    .cart-item-count {
        width: 1.4rem;
        height: 1.4rem;
        font-size: 0.88rem;
    }
    .nav-links {
        display: flex;
        gap: 1.6rem;
    }
}

/* MENU */
/* ==================================================================================================== */

.main {
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-color: var(--colorLightBrown);
    min-height: calc(100vh - 240px);
}

.main-btn-container {
    display: flex;
    gap: 1rem;
}

.filter-btn {
    text-transform: capitalize;
    background-color: var(--colorBrown);
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.active {
    background-color: var(--colorOrange);
}

.filter-divider {
    height: 2.3rem;
    width: 0.4rem;
    background-color: var(--colorBrown);
    border-radius: 10rem;
    display: none;
}

.input-form {
    margin: 1.5rem 0;
}

.search-input {
    font-family: 'Poppins', FontAwesome;
    font-size: 1rem;
    border-radius: 0.9rem;
    border: none;
    padding: 0.25rem 1rem;
    color: var(--colorVeryDarkBrown);
    width: 350px;
}

.search-input:focus {
    outline: none;
}

.products-container {
    display: grid;
    place-items: center;
    column-gap: 1rem;
    grid-template-columns: 1fr;
}

.product {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
}

.product-img-container {
    position: relative;
    background-color: black;
    border-radius: 0.5rem;
}

.product-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    transition: var(--transition);
}

.product-icon {
    width: 2.25rem;
    height: 2.25rem;
    background: var(--colorOrange);
    color: white;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
    font-size: 1rem;
    border-color: transparent;
    margin: 0 0.5rem;
}

.product-icon:hover {
    background: #c57b21;
}

.product-img-container:hover .product-icons {
    opacity: 1;
}

.product-img-container:hover .product-img {
    opacity: 0.6;
}

.product-img {
    height: 250px;
    border-radius: 0.5rem;
    opacity: 0.75;
    transition: var(--transition);
}

.product-info {
    text-align: center;
}

.product-name {
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.25rem;
}

.product-price {
    margin-bottom: 0;
    color: var(--colorOrange);
    font-weight: 700;
    font-size: 1.1rem;
    font-weight: 600;
}

.page-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.page-btn {
    background-color: var(--colorMediumBrown);
    color: white;
    padding: 1.2rem;
    font-size: 1rem;
    border-radius: 50%;
    position: relative;
    border: 2px solid var(--colorBrown);
    cursor: pointer;
    transition: var(--transition);
}

.page-btn:hover {
    background-color: var(--colorBrown);
}

.page-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1;
}

@media screen and (min-width: 600px) {
    .products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .products-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .filters-container {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .filter-divider {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .products-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* FOOTER */
/* ==================================================================================================== */

.footer {
    padding: 3rem 0;
    background-color: var(--colorDarkBrown);
    color: white;
    height: 15rem;
}

.footer-center {
    text-align: center;
    width: 70vw;
    margin: 0 auto;
    max-width: 600px;
    display: grid;
    row-gap: 1rem;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
}

.social-icon {
    color: white;
    font-size: 1.7rem;
    transition: var(--transition);
}

.social-icon:hover {
    color: var(--colorLightBrown);
}

.footer-logo {
    font-family: var(--fontSecondary);
    font-weight: 400;
    font-size: 1.5rem;
}

.copyright {
    letter-spacing: var(--letterSpacing);
}

/* ABOUT */
/* ==================================================================================================== */

.about-section {
    padding: 6rem 0;
    background-color: var(--colorLightBrown);
}

.about-title h2 {
    font-weight: 500;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 2rem;
    text-transform: capitalize;
}

.about-title span {
    color: var(--colorOrange);
    font-size: 0.85em;
    margin-right: 0.5rem;
}

.about-title p {
    line-height: 2;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.about-people {
    margin-top: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    max-width: 1000px;
}

@media screen and (min-width: 600px) {
    .about-people {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
}

@media screen and (min-width: 900px) {
    .about-people {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* LOCATION */
/* ==================================================================================================== */

.map {
    padding-top: 6rem;
    width: 100%;
    height: calc(100vh - 240px);
}

/* BOOKING */
/* ==================================================================================================== */

.booking {
    padding-top: 7rem;
    background-color: var(--colorLightBrown);
    min-height: calc(100vh - 240px);
}

.booking-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 500px;
}

.booking-form {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin-top: 2rem;
}

.form-title {
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.form-field-container {
    position: relative;
    display: flex;
    width: 100%;
}

.container-icon {
    width: 10%;
    background-color: white;
    position: relative;
    border: 1.5px solid #8f8f8f;
    border-top-left-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
}

.container-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5c5c5c;
}

.textarea-icon i {
    transform: translate(-7px, -40px);
}

.form-field {
    width: 90%;
    font-size: 1rem;
    padding: 0.5rem;
    appearance: none;
    border: 1.5px solid #8f8f8f;
    font-family: var(--fontPrimary);
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
}

.form-field:focus {
    outline: none;
}

.form-field::placeholder {
    color: black;
    font-family: var(--fontPrimary);
}

.arrow-down {
    position: absolute;
    top: 0.7rem;
    right: 0.5rem;
    color: #5c5c5c;
}

.submit-btn {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    background-color: var(--colorOrange);
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
    margin-bottom: 1rem;
}

.submit-btn:hover {
    background-color: #bb7116;
}

/* SINGLE PRODUCT */
/* ==================================================================================================== */

.product-banner {
    padding-top: 6rem;
    background-color: var(--colorVeryDarkBrown);
    color: white;
    display: grid;
    place-items: center;
    height: 12rem;
}

.product-banner h3 {
    font-weight: 400;
}

.single-product-section {
    background-color: var(--colorLightBrown);
    display: grid;
    place-items: center;
}

.single-product {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding: 2rem 0;
}

.single-product-img {
    border-radius: var(--borderRadius);
}

.single-product-info {
    display: grid;
    row-gap: 1rem;
}

.description-title {
    text-transform: uppercase;
}

.price-title {
    text-transform: uppercase;
}

.price-title span {
    color: var(--colorOrange);
}

.add-to-cart-btn {
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--colorOrange);
    color: white;
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: var(--transition);
    width: 170px;
    height: 40px;
}

.add-to-cart-btn:hover {
    background-color: #bb7116;
}

@media screen and (min-width: 800px) {
    .single-product {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        height: 400px;
    }
    .single-product-img {
        min-height: 250px;
    }
    .single-product-info {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
    }
    .single-product-section {
        padding: 1rem 0;
        min-height: calc(100vh - 240px - 192px);
    }
}

/* SIDEBAR */
/* ==================================================================================================== */

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: var(--transition);
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.sidebar-overlay.show {
    opacity: 1;
    z-index: 1000;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    background: var(--colorLightBrown);
    padding: 3rem 1rem 0 1rem;
    transition: var(--transition);
    transform: translateX(100%);
}

.show .sidebar {
    transform: translateX(0);
}

.sidebar-close {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: black;
    position: absolute;
    cursor: pointer;
    top: 1rem;
    left: 1rem;
    color: var(--colorVeryDarkBrown);
    transition: var(--transition);
}

.sidebar-close:hover {
    color: var(--colorOrange);
}

.sidebar-links {
    display: grid;
    row-gap: 1rem;
    margin-top: 2rem;
}

.sidebar-link {
    text-transform: uppercase;
    color: var(--colorVeryDarkBrown);
    cursor: pointer;
    font-size: 1.5rem;
    transition: var(--transition);
}

.sidebar-link:hover {
    color: var(--colorOrange);
}

@media screen and (min-width: 800px) {
    .sidebar-overlay {
        display: none;
    }
}

/* CART */
/* ==================================================================================================== */

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: var(--transition);
    opacity: 0;
    z-index: -1;
}

.cart-overlay.show {
    opacity: 1;
    z-index: 1000;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    background: var(--colorLightBrown);
    padding: 3rem 1rem 0 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: var(--transition);
    transform: translateX(100%);
}

.show .cart {
    transform: translateX(0);
}

.cart-close {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--colorVeryDarkBrown);
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    transition: var(--transition);
}

.cart-close:hover {
    color: var(--colorOrange);
}

.cart header h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--colorVeryDarkBrown);
}

.cart-total {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--colorVeryDarkBrown);
}

.cart-total span {
    color: var(--colorOrange);
}

.cart-checkout {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    background-color: var(--colorOrange);
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.cart-checkout:hover {
    background-color: #bb7116;
}

.cart-item {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.5rem;
    align-items: center;
}

.cart-item-img {
    width: 90px;
    height: 60px;
    object-fit: cover;
    border-radius: var(--borderRadius);
}

.cart-item-name {
    font-size: 1rem;
    margin-bottom: 0.15rem;
    color: var(--colorVeryDarkBrown);
}

.cart-item-price {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--colorOrange);
}

.cart-item-remove-btn {
    background: transparent;
    border-color: transparent;
    color: var(--colorVeryDarkBrown);
    letter-spacing: var(--letterSpacing);
    cursor: pointer;
    font-weight: 500;
}

.cart-item-amount {
    margin-bottom: 0;
    text-align: center;
    color: var(--colorVeryDarkBrown);
    line-height: 1;
}

.cart-item-increase-btn,
.cart-item-decrease-btn {
    background: transparent;
    border-color: transparent;
    color: var(--colorVeryDarkBrown);
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.25rem;
}

/* END */
/* ==================================================================================================== */
